/* リセットCSS（簡易版） */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
}

.look {
    position: absolute;
    top: 0;
    z-index: 2;
    min-height: 100vh;
    width: 100%;
}


/* 全体を囲うコンテナー＆背景 */

.container {
    user-select: none;
    pointer-events: none;
    position: relative;
    background-image: url('../img/back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    min-height: 100vh;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    font-family: 'DotGothic16';
}

.contents2,
.contents3,
.contents4,
.contents5,
.contents6 {
    display: none;
}

.contents1 img {
    height: 200px;
}

.footer {
    position: absolute;
    bottom: 0;
    right: 10px;
}

.title {
    font-family: 'Mochiy Pop P One', sans-serif;
    padding-top: 20px;
    font-size: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-text-stroke: 1px #FFF;
}

#view_clock {
    -webkit-text-stroke: 0px #FFF;
    color: #FFF;
    margin-left: 20px;
}

.date {
    font-size: 35px;
    margin-top: 10px;
    text-align: center;
}

.times {
    margin-left: 55px;
    margin-top: -20px;
}

.box {
    position: absolute;
    margin: 20px;
    background: rgba(255, 255, 255, 0.7);
    width: 1240px;
    height: 570px;
    border-radius: 10px;
}

.h2 {
    display: flex;
    margin: 10px 40px;
    font-size: 80px;
    font-family: 'Train One', cursive;
}

.subtitle {
    align-items: center;
    display: flex;
    font-size: 55px;
}

.average {
    display: flex;
    margin-top: 10px;
    margin-left: 50px;
}

.max,
#max,
#max1,
#max2,
#max3,
#max4 {
    color: red;
}

.low,
#low,
#low1,
#low2,
#low3,
#low4 {
    color: blue;
}

.weather3days {
    display: flex;
    align-items: center;
    text-align: center;
}

.box2 {
    margin: 20px;
    width: 400px;
    height: 335px;
    font-size: 40px;
}

.day {
    display: flex;
    justify-content: center;
}

.box img {
    margin-top: 20px;
}

.temp {
    display: flex;
    justify-content: center;
}

.publishing {
    display: flex;
    font-size: 30px;
    justify-content: right;
}

.box3 {
    margin: 15px 20px;
    width: 1200px;
    height: 360px;
    font-size: 25px;
    display: flex;
}

.box .temp {
    font-size: 40px;
}

.view img {
    height: 260px;
}

.icoms {
    display: flex;
}

.icom {
    margin: 0 20px;
    text-align: center;
    font-size: 20px;
}

.icom img {
    height: 80px;
}

.temp2 {
    display: flex;
    justify-content: center;
}

.level3 {
    color: blueviolet;
    background-color: blueviolet;
}

.level2 {
    color: crimson;
}

.level1 {
    color: black;
    background-color: yellow;
}

#warning {
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 30px;
}

#warning_text {
    font-size: 35px;
    margin-right: 40px;
    margin-top: 40px;
    margin-left: 40px;
}

.warning_none {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 100px;
    text-align: center;
    font-family: 'Reggae One';
}

.level3,
.level2,
.level1 {
    font-size: 35px;
    margin: 0px 0px 20px 20px;
    height: 70px;
    width: 200px;
    border-radius: 10px;
    line-height: 70px;
}

.red {
    color: red;
}

.yellow {
    color: rgb(255, 217, 0);
}

.copylight {
    display: flex;
    position: absolute;
    top: 60px;
    color: rgb(138, 138, 138);
    right: 50px;
    text-align: right;
    font-size: 35px;
}

.toblock {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1280px;
}

.info {
    position: absolute;
    bottom: 5px;
    left: 7px;
    font-size: 26px;
}

.toblock h3 {
    margin-top: 20px;
    font-size: 60px;
}

.tohiroshima,
.tofukuyama {
    font-size: 25px;
    margin: 0px 60px;
}

.tohiroshima p,
.tofukuyama p {
    margin-top: -15px;
}

#hiroshimatime,
#fukuyamatime {
    margin-top: 0px;
    font-size: 100px;
}

#hiroshimadelay,
#fukuyamadelay {
    margin-top: -20px;
    font-size: 40px;
}

.puls {
    color: rgb(0, 102, 255);
}

.minus {
    color: red;
    font-weight: bold;
}

.sumtime {
    display: flex;
    justify-content: center;
    text-align: center;
}

.sumtimes {
    font-size: 50px;
    width: 330px;
    line-height: 200px;
}

#sumtimeout,
#sumtimein {
    line-height: 0;
    margin-top: 0px;
    font-size: 100px;
}

.sumtime img {
    height: 300px;
}

.user {
    color: rgb(0, 0, 0);
    position: absolute;
    bottom: 25px;
    left: 340px;
    margin-top: 20px;
    font-size: 20px;
}

a {
    color: rgb(16, 16, 214);
}