/* リセットCSS（簡易版） */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
}

.look {
    position: absolute;
    top: 0;
    z-index: 2;
    min-height: 100vh;
    width: 100%;
}


/* 全体を囲うコンテナー＆背景 */

.container {
    user-select: none;
    pointer-events: none;
    position: relative;
    background-image: url('../img/back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    min-height: 100vh;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
}
.contents2,
.contents3,
.contents4,
.contents5,
.contents6{
    display:none;
}

.title {
    padding-top: 20px;
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-text-stroke: 2px #FFF;
}

#view_clock {
    -webkit-text-stroke: 0px #FFF;
    color: #FFF;
    margin-left: 20px;
}

.date {
    font-size: 35px;
    text-align: center;
}

.times {
    margin-left: 20px;
    margin-top: -20px;
}

.box {
    position: absolute;
    margin: 20px;
    background: rgba(255, 255, 255, 0.7);
    width: 1240px;
    height: 570px;
    border-radius: 10px;
}

h2 {
    margin: 10px 40px;
    font-size: 65px;
}

.subtitle {
    align-items: center;
    display: flex;
    font-size: 50px;
}

.average {
    display: flex;
    margin-top: 10px;
    margin-left: 50px;
}
.max,
#max,
#max1,
#max2,
#max3,
#max4 {
    color: red;
}
.low,
#low,
#low1,
#low2,
#low3,
#low4{
    color: blue;
}

.weather3days {
    display: flex;
    align-items: center;
    text-align: center;
}

.box2 {
    margin: 20px;
    width: 400px;
    height: 335px;
    font-size: 40px;
}

.day {
    display: flex;
    justify-content: center;
}

.box img {
    margin-top: 20px;
}

.temp {
    display: flex;
    justify-content: center;
}

.publishing {
    display: flex;
    font-size: 30px;
    margin-top: 30px;
    margin-right: 20px;
    justify-content: right;
}

.box3 {
    margin: 15px 20px;
    width: 1200px;
    height: 360px;
    font-size: 25px;
    display: flex;
}
.box .temp{
    font-size: 40px;
}
.view img{
    height: 260px;
}

.icoms{
    display: flex;
}
.icom{
    margin: 0 20px;
    text-align: center;
    font-size: 20px;
}
.icom img{
    height: 100px;
}
.temp2 {
    display: flex;
    justify-content: center;
}
