table {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    width: 1100px;
    table-layout: fixed;
    text-align: center;
  }
  
  table tr {
    font-size: 20px;
    background-color: rgba(255, 128, 255, 0.418);
    border: 1px solid #bbb;
    padding: 5px;
  }
  table th,
  table td {
    padding: 1em 1em 1em 1em;
    border-right: 1px solid #bbb;
  }
  table th {
    font-size: .85em;
  }
  table thead tr{
    background-color: #eee;
  }
  .txt{
     text-align: left;
     font-size: .85em;
  }
  .price{
     text-align: right;
  }
  